{%  extends 'base.html.twig'  %}

{% block content %}

    {% block header %}
        {{ include('sections/header.html.twig') }}
    {% endblock %}

    <div class="main-content">
         {{  include('includes/underconstruction.html.twig') }}
    </div>

{% endblock %}