{%  extends 'base.html.twig'  %}

{% block title%} Lilburn SuperSonics {% endblock %}
{% block content %}
    {% block header %}
        {{ include('sections/header.html.twig') }}
    {% endblock %}
    <div class="main-content">
        {% block leftside %}
          {{ include('sections/left-sidebar.html.twig') }}

         {% endblock %}

        {% block rightside %}
            {{ include('sections/right-sidebar.html.twig') }}
            {% endblock %}
        {#{{ dump(sunday) }}#}
    </div>
{% endblock %}
