<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Lilburn SuperSonics{% endblock %}</title>
        {% block stylesheets %}
            <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700,700italic,500italic,500,600italic,800italic,800,900,900italic' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset("css/main.css") }}" />
            <link rel="stylesheet" href="{{ asset("css/swiper/swiper.css") }}" />

        {% endblock %}
        {% block scripts %}

            <script async data-main="{{ asset("scripts/main") }}" src="{{ asset("scripts/vendor/requirejs/require.js") }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <div class="flexbox-container">
            {% block navagation %}
              {{ include('sections/navbar.html.twig') }}
            {% endblock %}

            {% block content %}
                {% block header %}

                    {% endblock %}

                    {% block leftside %}

                    {% endblock %}


                    {% block rightside %}

                    {%  endblock %}

                    {% block addbanner %}

                    {%  endblock %}



            {% endblock %}
            {% block footer %}
                {{ include('sections/footer.html.twig') }}
            {%  endblock %}
        </div>
        {% endblock %}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
