{%  extends 'base.html.twig'  %}

{% block content %}

    {% block header %}
        {{ include('sections/header-white.html.twig') }}
    {% endblock %}

    <div class="main-content">


        {#{{  include('includes/underconstruction.html.twig') }}#}
        {% block leftside %}
            {{ include('sections/left-sideAbout.html.twig') }}

        {% endblock %}
        {% block rightside %}
            {{ include('sections/right-sidebar.html.twig') }}
        {% endblock %}

    </div>

{% endblock %}