<footer class="footer">
    <div class="footer__column footer--left">
    <span>For More Info Contact Coach Tolbert: </span>
        <span class="footer--phone" itemprop="telephone">cell: <a href="tel:+14705350600">(470)535-0600</a></span>
        <span class="footer--email">email:<a href="mailto:coacht0299@gmail.com">coacht0299@gmail.com</a></span>
    </div>
    <div class="footer__column footer--middle">
        <nav>
            <ul class="footer__nav">
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">EVENTS</a></li>
                <li><a href="#">SPONSORS</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer__column footer--right">
        <address>
           <span> Created By: Imanje Solutions</span>
            <span  class="footer--email footer--emailwidth"> email:<a href="mailto:imanjesolutions@gmail.com" class="footer--email-link">imanjesolutions@gmail.com</a></span>
        </address>
    </div>
</footer>