<header class="header header--white">
    <div class="header__wrapper">
        {#<img src="{{ asset("img/home-images/new_jumbotron2.jpg") }}" alt="Lilburn Supersonics">#}
        {{ include('includes/logo.html.twig') }}
    </div>
</header>