<div class="left-rail">
    <p class="left__text left--intromargin">The Lilburn SuperSonics Basketball Club (L.S.B.C) is an organization dedicated to guiding our leaders of tomorrow.
    We help our area youth learn the value of hard work, team work and being exceptional. Teaching, Our passion, the
    game of basketball while instilling the values of integrity and respect. As we continue to grow, we look
    forward to serving the youth and families in the Lilburn and surrounding areas.</p>
</div>