<div class="left-rail rail--height " >
    <div id="accordion">
   {# <div class="expandable-panel">

    </div>#}
        <div class="expandable-panel" id="cp-1">
            <div class="expandable-panel-heading left__section-header header-active">
                <h2>About<a href=" " class="icon"><span class="icon-close"></span></a></h2>
            </div>
            <div class="expandable-panel-content expandable-panel-content-active">
                <figure class="left__about">
                    <img src="{{ asset('img/home-images/jahvaniCatchDsktp.jpg') }}" alt="Lilburn SuperSonics Basketball Club">
                   <figcaption class="left--cntr-margin"> <p class="left__text left--intromargin">The Lilburn SuperSonics Basketball Club (L.S.B.C) is an organization dedicated to guiding our leaders of tomorrow.
                        We help our area youth learn the value of hard work, team work and being exceptional. Teaching, Our passion, the
                        game of basketball while instilling the values of integrity and respect. As we continue to grow, we look
                        forward to serving the youth and families in Lilburn and the surrounding areas.
                    </p></figcaption>
                </figure>
            </div>
        </div>

    <div class="expandable-panel top-margin" id="cp-2">
        <div class="expandable-panel-heading left__section-header">
            <h2>This Weeks Schedule<span class="icon-open"></span></h2>
        </div>
        <div class="expandable-panel-content">
            {% include 'includes/weeklyschedule.html.twig' %}

        </div>
      </div>
        <div class="expandable-panel top-margin" id="cp-3">
            <div class="expandable-panel-heading left__section-header">
                <h2>UpComing Events<a href=" "><span class="icon-open"></span></a></h2>
            </div>
            <div class="expandable-panel-content">
                {{ include('includes/upcoming_events.html.twig') }}

            </div>
        </div>
        <div class="expandable-panel top-margin" id="cp-4">
            <div class="expandable-panel-heading left__section-header">
                <h2>News and Notes<span class="icon-open"></span></h2>
            </div>
            <div class="expandable-panel-content">
                {{ include('includes/news.html.twig') }}

            </div>
        </div>
    </div>
</div>