{% block navagation %}
    <nav class="navbar">
        <div class="navbar__mblmenu"></div>
        <div class="navbar__dsktoplogo"><img src="{{ asset("img/smll_logo_103x91.png") }}" alt="Home of the Lilburn SuperSonics"></div>
        <div class="navbar__brand">LILBURN SUPERSONICS</div>
        <div class="navbar__bballlenter"><a href="#"><img src="{{ asset("img/greenandyellow_bball.png") }}"  class="navbar__bballlenter--bballimg"></a></div>
        <!--<div class="navbar__advertise">
            <img src="./img/mblLsLogo.png" alt="Lilburn SuperSonics" />
        </div>-->
        <ul class="navbar__menulist">
            <li class="navbar__menulist--item"><a href="#" alt="Home">HOME</a></li>
            <li class="navbar__menulist--item"><a href="#" alt="About">ABOUT</a></li>
            <li class="navbar__menulist--item"><a href="#" alt="Events">EVENTS</a></li>
            <li class="navbar__menulist--item"><a href="#" alt="Sponsors">SPONSORS</a></li>
        </ul>
    </nav>
{% endblock %}