<div class="news news__container">
    <h3 class="news__title news--center-title">Supersonic News</h3>
    <div class="news__spotlight">
        <span class="news__spotlight-title">Congratulations to Syrus Kamara</span>
        <img src="{{ asset('img/home-images/syrus_k.jpg') }}" alt="Syrus Kamara" />
        <p class="news__detail"> Syrus Kamara, leading scorer for the Varisty Green team, will be taking his talents to Americus, GA.
        Where he will become a member of the Georgia Southwestern State University Hurricanes. As a student-
        athlete Syrus will major in Biology while further developing his basketball skills.
            <br>
        As a member of the Supersonic Varsity Green team, this year Syrus is averaging 18 points, 5 assists
        and 8 rebounds a game. As a Supersonics Syrus has been given an opportunity to go different places.
        Providing him with a variety of experiences that have allowed him to expand his game both mentally
        and physically. His experience as a Supersonic, Syrus explains,
            "Has helped me improve my game, by studying people's game from a different perceptive
            and learning from my teammates certain abilities".
        </p>
    </div>
    <hr class="news__hline">
    <div class="news__spotlight">
        <span class="news__spotlight-title">Congratulations to Caleb Smith</span>
        <img src="{{ asset('img/home-images/caleb_smith_mvp.jpg') }}" alt="Caleb Smith" />
        <p class="news__detail">While leading the Varsity Gold team in scoring throughout the CFB Invitational,
            Caleb was voted, Tournament MVP. Averaging 22pts., 10rebs., 4asst, 2blks and 2stls a game, Caleb lead
            the Gold team to a 2nd Place finish.<br>
            With the Gold team sitting currently sitting on top of thier division, Caleb is gearing up to lead
            the Gold team to its first championship.
        </p>
    </div>
</div>