<div class="upevents upevents__container">
    <h3 class="upevents__title upevents--center-title">Future Events</h3>
    <div class="upevents__event upevents--font">
        <div class="upevents__event--date">June 17th - 19th</div>
        <div class="upevents__event--description">12u Dekalb Eagles Summer Classic</div>
        <div class="upevents__event--location"><a href="https://goo.gl/maps/1PsiMvF94nA2" alt="Fairfield Baptist Church" title="Fairfield Baptist Church">@Fairfield</a></div>
    </div>
    <div class="upevents__event upevents--font">
        <div class="upevents__event--date">July 25th - 28th</div>
        <div class="upevents__event--description">SuperSonic Skills Camp</div>
        <div class="upevents__event--location"><a href="#" title=" ">TBA</a></div>
    </div>
</div>