<div class="weekly">
   <span class="weekly__titlerow weekly--center"><h3>Weekly Schedule</h3></span>
   <div class="weekly__teamSection">
      <div class="weekly__row">
      <span class="weekly__teamHdrs weekly__row">12u</span>
      </div>
      <div class="weekly__row weekly--title-row">
         <span class="weekly__column weekly--coltitle">Date</span>
         <span class="weekly__column weekly--coltitle">Time</span>
         <span class="weekly__column weekly--coltitle">Vs.</span>
         <span class="weekly__column weekly--coltitle">Location</span>
      </div>
      <div class="weekly__row weekly--game-row">
         <span class="weekly__column weekly--colitem">Sat. 5/21</span>
         <span class="weekly__column weekly--colitem">2:00</span>
         <span class="weekly__column weekly--colitem">Cavaliers</span>
          <span class="weekly__column weekly--colitem"><a href="https://goo.gl/maps/xHiAZuGjEF52" alt="Green Pastures Christian Church" title="Green Pastures Christian Church">Green Pastures</a></span>
      </div>
      <div class="weekly__row weekly--game-row">
         <span class="weekly__column weekly--colitem">Wed. 5/25</span>
         <span class="weekly__column weekly--colitem">7:00</span>
         <span class="weekly__column weekly--colitem">TBA</span>
         <span class="weekly__column weekly--colitem"><a href="https://goo.gl/maps/1PsiMvF94nA2" alt="Fairfield Baptist Church" title="Fairfield Baptist Church">Fairfield</a></span>
      </div>
   </div>
   <div class="weekly__divider-row"></div>
   <!--Freshman-->
   <div class="weekly__teamSection">
      <div class="weekly__row">
         <span class="weekly__teamHdrs weekly__row">Freshman</span>
      </div>
      <div class="weekly__row weekly--title-row">
         <span class="weekly__column weekly--coltitle">Date</span>
         <span class="weekly__column weekly--coltitle">Time</span>
         <span class="weekly__column weekly--coltitle">Vs.</span>
         <span class="weekly__column weekly--coltitle">Location</span>
      </div>
      <div class="weekly__row weekly--game-row">
         <span class="weekly__column weekly--colitem">Sat. 5/21</span>
         <span class="weekly__column weekly--colitem">3:00</span>
         <span class="weekly__column weekly--colitem">Jackets</span>
         <span class="weekly__column weekly--colitem"><a href="https://goo.gl/maps/xHiAZuGjEF52" alt="Green Pastures Christian Church" title="Green Pastures Christian Church">Green Pastures</a></span>
      </div>
     {# <div class="weekly__row weekly--game-row">
         <span class="weekly__column weekly--colitem">Mon. 5/9</span>
         <span class="weekly__column weekly--colitem">7:00</span>
         <span class="weekly__column weekly--colitem">TBA</span>
         <span class="weekly__column weekly--colitem"><a href="https://www.google.com/maps/place/Fairfield+Baptist+Church/@33.7465795,-84.1499087,17z/data=!3m1!4b1!4m2!3m1!1s0x88f5ac2a3d320fb5:0x6c2fd6b557e724a?hl=en" alt="Fairfiled Baptist Church" title="Fairfiled Baptist Church">Fairfiled</a></span>
      </div>#}
   </div>
    <div class="weekly__divider-row"></div>
    <!--JV Gold -->
    <div class="weekly__teamSection">
        <div class="weekly__row">
            <span class="weekly__teamHdrs weekly__row weekly--gold">JV - Gold</span>
        </div>
        <div class="weekly__row weekly--title-row">
            <span class="weekly__column weekly--coltitle">Date</span>
            <span class="weekly__column weekly--coltitle">Time</span>
            <span class="weekly__column weekly--coltitle">Vs.</span>
            <span class="weekly__column weekly--coltitle">Location</span>
        </div>
        <div class="weekly__row weekly--game-row">
            <span class="weekly__column weekly--colitem">Sat. 5/21</span>
            <span class="weekly__column weekly--colitem">9:10</span>
            <span class="weekly__column weekly--colitem">Atlanta</span>
            <span class="weekly__column weekly--colitem"><a href="https://goo.gl/maps/xHiAZuGjEF52" alt="Green Pastures Christian Church" title="Green Pastures Christian Church">Green Pastures</a></span>
        </div>
         <div class="weekly__row weekly--game-row">
            <span class="weekly__column weekly--colitem">Sat. 5/21</span>
            <span class="weekly__column weekly--colitem">10:00</span>
            <span class="weekly__column weekly--colitem">Wolf Pack</span>
             <span class="weekly__column weekly--colitem"><a href="https://goo.gl/maps/xHiAZuGjEF52" alt="Green Pastures Christian Church" title="Green Pastures Christian Church">Green Pastures</a></span>      </div>
    </div>
    <div class="weekly__divider-row"></div>
    <!--JV- Green Team-->
    <div class="weekly__teamSection">
        <div class="weekly__row">
            <span class="weekly__teamHdrs weekly__row weekly--green">JV - Green</span>
        </div>
        <div class="weekly__row weekly--title-row">
            <span class="weekly__column weekly--coltitle">Date</span>
            <span class="weekly__column weekly--coltitle">Time</span>
            <span class="weekly__column weekly--coltitle">Vs.</span>
            <span class="weekly__column weekly--coltitle">Location</span>
        </div>
        <div class="weekly__row weekly--game-row">
            <span class="weekly__column weekly--colitem">Sat. 5/21</span>
            <span class="weekly__column weekly--colitem">12:00</span>
            <span class="weekly__column weekly--colitem">Atlanta</span>
            <span class="weekly__column weekly--colitem"><a href="https://goo.gl/maps/xHiAZuGjEF52" alt="Green Pastures Christian Church" title="Green Pastures Christian Church">Green Pastures</a></span>
        </div>
         <div class="weekly__row weekly--game-row">
            <span class="weekly__column weekly--colitem">Mon. 5/21</span>
            <span class="weekly__column weekly--colitem">5:00</span>
            <span class="weekly__column weekly--colitem">Rhinos</span>
             <span class="weekly__column weekly--colitem"><a href="https://goo.gl/maps/xHiAZuGjEF52" alt="Green Pastures Christian Church" title="Green Pastures Christian Church">Green Pastures</a></span>
         </div>
    </div>
    <div class="weekly__divider-row"></div>
    <!--Varsity Gold -->
    <div class="weekly__teamSection">
        <div class="weekly__row">
            <span class="weekly__teamHdrs weekly__row weekly--gold">Varsity - Gold</span>
        </div>
        <div class="weekly__row weekly--title-row">
            <span class="weekly__column weekly--coltitle">Date</span>
            <span class="weekly__column weekly--coltitle">Time</span>
            <span class="weekly__column weekly--coltitle">Vs.</span>
            <span class="weekly__column weekly--coltitle">Location</span>
        </div>
        <div class="weekly__row weekly--game-row">
            <span class="weekly__column weekly--colitem">Sun. 5/21</span>
            <span class="weekly__column weekly--colitem">1:00</span>
            <span class="weekly__column weekly--colitem">Lakers</span>
            <span class="weekly__column weekly--colitem"><a href="https://goo.gl/maps/xHiAZuGjEF52" alt="Green Pastures Christian Church" title="Green Pastures Christian Church">Green Pastures</a></span>
        </div>
        {# <div class="weekly__row weekly--game-row">
            <span class="weekly__column weekly--colitem">Mon. 5/9</span>
            <span class="weekly__column weekly--colitem">7:00</span>
            <span class="weekly__column weekly--colitem">TBA</span>
            <span class="weekly__column weekly--colitem"><a href="https://www.google.com/maps/place/Fairfield+Baptist+Church/@33.7465795,-84.1499087,17z/data=!3m1!4b1!4m2!3m1!1s0x88f5ac2a3d320fb5:0x6c2fd6b557e724a?hl=en" alt="Fairfiled Baptist Church" title="Fairfiled Baptist Church">Fairfiled</a></span>
         </div>#}
    </div>
    <!--Varsity Green -->
    <div class="weekly__teamSection">
        <div class="weekly__row">
            <span class="weekly__teamHdrs weekly__row weekly--green">Varsity - Green</span>
        </div>
        <div class="weekly__row weekly--title-row">
            <span class="weekly__column weekly--coltitle">Date</span>
            <span class="weekly__column weekly--coltitle">Time</span>
            <span class="weekly__column weekly--coltitle">Vs.</span>
            <span class="weekly__column weekly--coltitle">Location</span>
        </div>
        <div class="weekly__row weekly--game-row">
            <span class="weekly__column weekly--colitem">Fri. 5/20</span>
            <span class="weekly__column weekly--colitem">6:00</span>
            <span class="weekly__column weekly--colitem">Thunderbolts</span>
            <span class="weekly__column weekly--colitem"><a href="https://goo.gl/maps/xHiAZuGjEF52" alt="Green Pastures Christian Church" title="Green Pastures Christian Church">Green Pastures</a></span>
        </div>
        {# <div class="weekly__row weekly--game-row">
            <span class="weekly__column weekly--colitem">Mon. 5/9</span>
            <span class="weekly__column weekly--colitem">7:00</span>
            <span class="weekly__column weekly--colitem">TBA</span>
            <span class="weekly__column weekly--colitem"><a href="https://www.google.com/maps/place/Fairfield+Baptist+Church/@33.7465795,-84.1499087,17z/data=!3m1!4b1!4m2!3m1!1s0x88f5ac2a3d320fb5:0x6c2fd6b557e724a?hl=en" alt="Fairfiled Baptist Church" title="Fairfiled Baptist Church">Fairfiled</a></span>
         </div>#}
    </div>
</div>